/*Page Option*/

#sharehouse_page_setting .inside {
  padding: 0;
  margin: 0;
}

.tab-panel {
  display: table;
  width: 100%;
  background-color: #f2f2f2;
}

.tab-list {
  width: 20%;
  float: left;
  margin: 0;
}

.tab-list li {
  display: block;
  width: 100%;
  margin: 0;
}

.tab-list li a {
  padding: 12px 4px 12px 14px;
  display: block;
  background: #F2F2F2;
  border-width: 1px 0px;
  border-style: solid;
  border-top: 0;
  border-bottom: 1px solid #E7E7E7;
  opacity: 0.7;
  color: #555;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: none 0s ease 0s;
  -moz-transition: none 0s ease 0s;
  transition: none 0s ease 0s;
}

.tab-list li a:hover {
  background: #E5E5E5 none repeat scroll 0% 0%;
  color: #777;
  opacity: 1;
}

.tab-list li a:focus {
  box-shadow: none;
}

.tab-list li.active a::after {
  right: 0;
  border: 10px solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #ffffff;
  top: 50%;
  margin-top: -10px;
}

.tab-list li.active a {
  /*background: #FFFFFF;*/
  color: #000;
  opacity: 1;
  position: relative;
}

.tab-container {
  width: 80%;
  float: left;
  background-color: #ffffff;
}

.tab-wrapper {
  padding: 0 15px 15px;
}

.tab-container .tab-content {
  display: none;
}

.tab-container .tab-content.active {
  display: block;
}

.tab-title {
  font-size: 30px;
  padding: 10px 0;
  float: left;
  width: 100%;
  line-height: initial;
  position: relative;
}

.tab-title .page-title-action {
  top: -7px;
  cursor: pointer;
}

.form-table .form-control {
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
}

.form-table th {
  margin-bottom: 9px;
  padding: 10px 10px 0;
  line-height: 1.3;
  vertical-align: middle;
} 

.condition-item {
  width: 33.33%;
  padding: 5px 0;
  float: left;
}
.title-action {
  margin-left: 4px;
  padding: 4px 8px;
  position: relative;
  top: -3px;
  text-decoration: none;
  border: none;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #f7f7f7;
  text-shadow: none;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
}

.title-action:hover,.title-action:active,.title-action:focus{
  border-color: #008EC2;
  background: #00a0d2;
  color: #fff;
}
.form-table.service-table td{
	padding: 5px 10px 10px;
}