 /*************************/
 /*********COMMON**********/
 /*************************/
 
 * {
   transition: all 0.3s;
 }
 
 body {
   overflow-x: hidden;
   background: #eeeeee;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
 
 .sharehouse-site {
   width: 100%;
   background: #8c6b4b;
 }
 
 .text-jumbo {
   font-size: 60px;
   font-weight: 700;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
 
 .text-branding {
   text-transform: uppercase;
 }
 
 .text-contrast {
   color: #fff;
 }
 
 p.text-contrast {
   font-size: 18px;
   font-weight: bold;
 }
 
 .pull-right-md {
   float: right;
 }
 
 body.is-fullscreen {
   overflow: hidden;
   height: 100%;
   width: 100%;
 }
 
 .backtop {
   display: none;
   position: fixed;
   right: 0;
   bottom: 10px;
   color: #ffffff;
   text-decoration: none;
   opacity: 0.8;
   background: #8c6b4b;
   border-radius: 50%;
   border: 1px solid;
 }
 i { color: #8c6b4b; }
 .backtop:hover,
 .backtop:focus,
 .backtop:active {
   opacity: 1;
   color: #ffffff;
 }
 
 .backtop i {
   padding: 15px;
   color: #fff;
 }
 
 .overlay {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   right: 0;
   left: 0;
 }
 
 .box-inner {
   width: 100%;
   position: relative;
 }
 
 .box.even {
   background: transparent;
   color: #ffffff;
 }
 
 .box.odd {
   background: #eeeeee;
   color: #8c6b4b;
 }
 
 .box-inner.panel {
   border: 0;
   box-shadow: none;
   background: transparent;
   color: #ffffff;
   margin: 0;
   padding: 20px 0;
 }
 
 .box.odd .box-inner.panel {
   border: 0;
   box-shadow: none;
   background: transparent;
   color: #000000;
 }
 
 .box-inner .panel-heading {
   margin-bottom: 30px;
   background: transparent;
   border-bottom: none;
 }
 
 .box-inner .panel-body {
   padding: 20px 0;
 }
 
 .box-inner .panel-title {
   text-align: center;
   font-size: 3.4em;
   margin-top: 30px;
   margin-bottom: 10px;
   font-weight: bold;
   text-transform: capitalize;
   position: relative;
 }
 /*#8c6b4b*/
 /*************************/
 /*********HEADER**********/
 /*************************/
 
 header {
   background: transparent;
   position: absolute;
   z-index: 99;
   width: 100%
 }
 
 header a {
   color: #ffffff;
   text-transform: capitalize;
 }
 
 header a.navbar-brand,
 header a.navbar-brand {
   color: #ffffff
 }
 
 header .nav>li>a {
   font-weight: 500;
   text-transform: capitalize;
   position: relative;
   font-size: 14px;
   box-sizing: border-box;
 }
 
 header .nav>li > a:after {
   content: '';
   width: 100%;
   height: 3px;
   background: #ffffff;
 }
 
 header .nav>li>a:focus,
 header .nav>li>a:active,
 header .nav>li>a:hover,
 .nav .open>a,
 .nav .open>a:focus,
 .nav .open>a:hover {
   background: transparent;
   opacity: 0.9;
   color: #ffffff;
   border-bottom: 4px solid #8c6b4b;
   /*font-family: 'Nunito', sans-serif;*/
 }
 
 .dropdown-menu>li {
   position: relative;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;
   cursor: pointer;
 }
 
 .dropdown-menu .sub-menu {
   position: absolute;
   left: 100%;
   top: 0;
   background: rgba(140, 107, 75, 0.41);
   display: none;
   margin-left: 0;
   margin-top: 0px;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   border-left-color: #fff;
   box-shadow: none;
 }
 
 .right-caret:after,
 .left-caret:after {
   content: "";
   border-bottom: 5px solid transparent;
   border-top: 5px solid transparent;
   display: inline-block;
   height: 0;
   vertical-align: middle;
   width: 0;
   margin-left: 5px;
   position: absolute;
   right: 0;
   top: 0;
   bottom: 0;
   margin: auto 15px;
 }
 
 .right-caret:after {
   border-left: 5px solid #ffaf46;
 }
 
 .left-caret:after {
   border-right: 5px solid #ffaf46;
 }
 
 header .nav ul {
   background: transparent;
   border: 0;
   border-radius: 0;
   margin: 0;
   padding: 0;
   background: rgba(140, 107, 75, 0.41);
   color: #ffffff
 }
 
 header .nav ul li:not(:first-child) {
   border-top: 2px solid #E6E6E6;
 }
 
 header .nav ul li.open a {
   padding-left: 15px;
 }
 
 header .nav ul li a {
   color: #ffffff;
   padding: 8px 10px;
   text-transform: capitalize;
 }
 
 .dropdown-menu>li>a:focus,
 .dropdown-menu>li>a:hover {
   background: transparent;
   color: #ffffff;
   opacity: 1;
   padding-left: 15px;
 }
 
 .navbar-header button.navbar-toggle {
   background: rgba(216, 216, 216, 0.24);
 }
 
 .navbar-toggle .icon-bar {
   background: #D8D8D8;
 }
 /*************************/
 /*********SLIDER**********/
 /*************************/
 
 .content .slider-video {
   height: 598px;
   width: 100%;
   position: relative;
 }
 
 .location-bottom {
   height: 369px;
 }
 
 .slider-video .slider-inner {
   width: 100%;
   overflow: hidden;
 }
 
 .video-control {
   position: relative;
   height: 600px;
   overflow: hidden;
 }
 
 .video-control video {
   width: 100%;
   height: auto;
 }
 
 .video-control .video-caption {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   margin: auto;
   color: #ffffff;
   display: table;
   text-align: center;
   width: 100%
 }
 
 .slider-player {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   z-index: 999;
 }
 
 .slider-player .btn-close {
   color: #82888a;
   cursor: pointer;
   font-size: 2em;
   position: absolute;
   right: 20px;
   text-decoration: none;
   top: 20px;
   padding: 3px;
 }
 
 .slider-player .btn-close:hover {
   background: rgba(0, 0, 0, 0.08);
 }
 
 .slider-player video {
   width: 100%;
   background: #ffffff
 }
 
 .btn-play {
   color: #fff;
   font-size: 100px;
   opacity: 0.8;
 }
 
 .btn-play:hover {
   color: #ffffff;
   opacity: 1
 }
 .btn-play i {
   color: #fff;
 }
 .slider-player .btn-play {
   display: none;
 }
 /*************************/
 /*********CHECKING**********/
 /*************************/
 
 .checking {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   background: rgba(140, 107, 75, 0.22);
 }
 
 .checking .box-inner.panel {
   padding: 0;
   padding-bottom: 30px;
   padding-top: 30px;
 }
 
 .checking .form-group {
   margin: auto;
   display: table;
 }
 
 .checking button,
 .btn-search {
   border-radius: 0;
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
   height: 44px;
   padding: 9px 27px;
   font-size: 16px;
   border-color: #ff5a5f;
   border-bottom-color: #e00007;
   background-color: #ff5a5f;
   font-weight: bold;
 }
 
 .btn-search {
   border-radius: 0;
 }
 
 .checking button:hover,
 .checking button:focus,
 .btn-search:hover,
 .btn-search:focus {
   border-color: #ff7e82;
   border-bottom-color: #fa0008;
   background-color: #ff7e82;
   color: #fff;
 }
 
 .checking .searchform-input:first-child {
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   width: 380px;
 }
 
 .checking .searchform-input {
   display: block;
   height: 44px;
   padding: 6px 12px;
   font-size: 14px;
   line-height: 1.42857143;
   color: #565a5c;
   background-color: #fff;
   background-image: none;
   border: 1px solid #ccc;
   float: left;
   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
   -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
   -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
   transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
   width: 123px;
 }
 
 .checking .box-inner .panel-body {
   padding: 0;
 }
 /*************************/
 /*********SERVICE*********/
 /*************************/
 
 .service-inner {
   position: relative;
   padding-top: 50px;
 }
 
 .service-title {
   text-align: center;
   font-size: 2em;
   text-transform: capitalize;
   padding-top: 18px;
 }
 
 .service-icon {
   position: absolute;
   left: calc(50% - 30px);
   border-radius: 40px;
   padding: 18px;
   background: #8c6b4b;
   font-size: 1em;
   color: #ffffff;
   top: -30px;
 }
 .service-icon i {
   color: #fff;
 }
 .service-icon+.service-title {}
 
 .service-item {
   width: 100%;
   -webkit-box-shadow: 0px 0px 1px 0px rgba(255, 255, 255, 0.92);
   -moz-box-shadow: 0px 0px 1px 0px rgba(255, 255, 255, 0.92);
   -o-box-shadow: 0px 0px 1px 0px rgba(255, 255, 255, 0.92);
   box-shadow: 0px 0px 1px 0px rgba(255, 255, 255, 0.92);
 }
 
 .service-item .sc-item-title {
   width: 100%;
   padding: 12px;
   margin: 0;
   border-bottom: 1px solid #DADADA;
   font-size: 1.2em;
   padding-right: 35px;
   position: relative;
   text-transform: capitalize;
 }
 
 .sc-item-title i {
   padding: 5px;
 }
 
 .control-caret {
   cursor: pointer;
   position: absolute;
   right: 4px;
   top: 0;
   bottom: 0;
   margin: auto;
   display: table;
 }
 
 .sc-item-description {
   display: none;
   padding: 12px;
   transition: none;
 }
 /*************************/
 /*********LOCATION********/
 /*************************/
 
 .location-item {
   padding: 12.5px;
 }
 
 .location-inner {
   position: relative;
   height: 100%;
 }
 
 .location-inner .location-thumbnail {
   width: 100%;
   height: 100%;
   overflow: hidden;
   opacity: 0.8;
 }
 
 .location-info {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   display: table;
   padding: 10px;
   width: 100%;
   color: #ffffff;
   cursor: pointer;
   text-align: center;
   font-size: 32px;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
 /*************************/
 /*********EVENT**********/
 /*************************/
 
 .event-item {
   margin-top: 15px;
   padding-bottom: 15px;
   max-height: 360px;
 }
 
 .event-right .col-md-6.event-item {
   width: 50%;
   height: 239px;
   float: left;
 }
 
 .slider-category-item .event-item {
   height: 360px;
   padding-bottom: 0px;
 }
 .slider-category-item  .slick-arrow{
   top: 0;
   bottom: 0;
   margin: auto;
   background:  rgba(0, 0, 0, 0.58);
   padding: 10px 15px;
   width: auto;
   height: 40px;
   
 }
 .slider-category-item  .slick-arrow.slick-prev{
   left: 0;
 }
 .slider-category-item  .slick-arrow.slick-next{
   right: 0;
   left: initial;
 }
 .slick-arrow {
   font-size: 0;
   line-height: 0;
   position: absolute;
   left: calc(50% - 20px);
   top: -50px;
   display: block;
   width: 20px;
   height: 20px;
   padding: 0;
   cursor: pointer;
   color: transparent;
   border: none;
   outline: none;
   background: transparent;
   z-index: 99;
 }
 
 .slick-prev {
   margin-right: 20px;
 }
 
 .slick-prev::before {
   content: "\f053";
 }
 /*.slick-prev::after {
   content: "|";
   font-size: 30px;
   color: #fff;
   font-weight: bold;
   padding: 2px;
   opacity: 0.75;
 }*/
 
 .slick-arrow:before {
   font-family: 'FontAwesome';
   font-size: 20px;
   line-height: 1;
   opacity: .75;
   color: white;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 
 .slick-next {
   margin-left: 24px;
 }
 
 .slick-next::before {
   content: "\f054";
 }
 
 .event-inner {
   position: relative;
   height: 100%;
   float: left;
   width: 100%;
 }

 .slider-nav .event-inner {
   height: 116px;
 }

 
 .event-thumbnail {
   width: 100%;
   overflow: hidden;
   height: 100%;
   float: left;
 }
 
 .event-inner .event-info {
   width: 100%;
   position: absolute;
   background: rgba(0, 0, 0, 0.32);
   padding: 5px;
   bottom: 0;
   left: 0;
   cursor: pointer;
   opacity: 0.9;
 }
 
 .event-inner .event-info a {
   color: #ffffff;
   text-decoration: none;
 }
 
 .event-inner .event-info:hover a {
   opacity: 1;
 }
 
 .event-thumbnail img {
   width: 100%;
   height: 100%;
   min-height: 100px;
 }
 
 .slider-category {
   width: 100%;
   overflow: hidden;
   position: relative;
 }
 
 
 .slider-nav {
   bottom: 0;
   left: 0;
 }
 
 .slider-nav .event-item {
   margin: 2px;
   overflow: hidden;
   padding-bottom: 0;
   min-height: 100px;
 }
 
 .slick-slider {
   position: relative;
   display: block;
   box-sizing: border-box;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   -webkit-touch-callout: none;
   -khtml-user-select: none;
   -ms-touch-action: pan-y;
   touch-action: pan-y;
   -webkit-tap-highlight-color: transparent;
 }
 
 .slick-list {
   position: relative;
   display: block;
   overflow: hidden;
   margin: 0;
   padding: 0;
 }
 
 .slick-list:focus {
   outline: none;
 }
 
 .slick-list.dragging {
   cursor: pointer;
   cursor: hand;
 }
 
 .images-slider-for .slick-arrow:before {
   font-size: 15px;
 }
 
 .images-slider-for .slick-arrow {
   top: 50%;
   left: 0;
   display: block;
   padding: 10px 15px;
   margin: -15px 0px 0px;
   overflow: hidden;
   width: auto;
   height: auto;
   background-color: rgba(0, 0, 0, 0.72);
   cursor: pointer;
 }
 
 .images-slider-for .slick-next {
   right: 0;
   left: initial;
 }
 
 .images-slider-for .slick-prev::after {
   content: initial;
 }
 
 .images-slider-for.slick-slider .slick-track,
 .images-slider-for.slick-slider .slick-list,
 .images-slider-nav.slick-slider .slick-track,
 .images-slider-nav.slick-slider .slick-list,
 {
   height: 100%;
   padding: 0;
 }
 
 .images-slider-nav.slick-slider .slick-track img {
   margin: 5px;
 }
 
 .slick-slider .slick-track,
 .slick-slider .slick-list {
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   -o-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
 }
 
 .slick-track {
   position: relative;
   top: 0;
   left: 0;
   display: block;
 }
 
 .slick-track:before,
 .slick-track:after {
   display: table;
   content: '';
 }
 
 .slick-track:after {
   clear: both;
 }
 
 .slick-loading .slick-track {
   visibility: hidden;
 }
 
 .slick-slide {
   display: none;
   float: left;
   height: 100%;
   min-height: 1px;
   cursor: pointer;
 }
 
 [dir='rtl'] .slick-slide {
   float: right;
 }
 
 .slick-slide img {
   display: block;
 }
 
 .slick-slide.slick-loading img {
   display: none;
 }
 
 .slick-slide.dragging img {
   pointer-events: none;
 }
 
 .slick-initialized .slick-slide {
   display: block;
 }
 
 .slick-loading .slick-slide {
   visibility: hidden;
 }
 
 .slick-vertical .slick-slide {
   display: block;
   height: auto;
   border: 1px solid transparent;
 }
 
 .slick-arrow.slick-hidden {
   display: none;
 }
 /*************************/
 /*******TESTIMONIAL*******/
 /*************************/
 
 .testimonial-item {
   width: 100%;
   text-align: center;
 }
 
 .testimonial-item .testimonial-info {
   width: calc(100% - 150px);
   float: left;
   padding: 0 20px;
 }
 
 .testimonial-item .testimonial-thumbnail {
   max-width: 50%;
   float: left;
 }
 
 .testimonial-item .testimonial-thumbnail img {
   width: 150px;
   height: 150px;
   border-radius: 50%;
 }
 
 .testimonial-item .testimonial-author {
   margin-top: 30px;
 }
 
 .testimonial-item .testimonial-author a {
   text-decoration: none;
   color: #1abc9c
 }
 
 .brands {
   width: 100%;
 }
 
 .brands .brand-item {
   padding: 5px;
 }
 
 .brands .brand-item img {
   width: 100%;
   height: 100px;
 }
 /*************************/
 /*********FOOTER**********/
 /*************************/
 
 footer {
   background: #333030;
   color: #ffffff;
   padding: 30px 0 10px;
 }
 
 .footer-bottom {
   border-top: 1px solid rgba(255, 255, 255, 0.2);
   padding-top: 40px;
   margin-top: 25px;
   width: 100%;
   text-align: center;
 }
 
 .list-social {
   width: 100%;
 }
 .list-social i{
   color: #fff;
 }
 footer ul.list-social li {
   width: auto;
 }
 
 .footer-bottom .list-social li a {
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-color: rgba(255, 255, 255, 0.2);
   border-width: 1px;
   border-style: solid;
 }
 
 .list-social li a {
   display: block;
   height: 36px;
   width: 36px;
   text-align: center;
   font-weight: bold;
   color: #ffffff;
   line-height: 36px;
   font-size: 1.1em;
   opacity: 0.7;
 }
 
 .list-social li a:hover {
   color: #ffffff;
   opacity: 1;
 }
 
 .list-social li a i {
   padding: 10px
 }
 
 .sh-widget {
   padding-top: 10px;
   padding-bottom: 10px;
 }
 
 .sh-widget .widget-title {
   text-transform: uppercase;
   font-size: 1.3em;
   margin-bottom: 25px;
 }
 
 .sh-widget ul {
   list-style: none;
   padding: 0;
 }
 
 .sh-widget ul li {
   list-style: none;
   padding: 0;
   margin-bottom: 13px;
   float: left;
   width: 100%;
 }
 
 .sh-widget ul li a {
   width: 100%;
   color: #ffffff;
   float: left;
   text-decoration: none;
   opacity: 0.8;
 }
 
 .sh-widget ul li a:hover {
   opacity: 1;
 }
 
 .sh-widget ul li span {
   width: 100%;
   color: #CACACA;
 }
 /*************************/
 /*********ROOM DETAIL**********/
 /*************************/
 
 .feature-wapper {
   width: 100%;
   max-height: 500px;
   overflow: hidden;
   position: relative;
 }
 
 .feature-wapper-thumbnail {
   text-align: center;
 }
 
 .feature-wapper-inner {
   width: 100%;
   height: 100%;
 }
 
 .feature-wapper-inner img {
   width: 100%;
   height: 100%;
   position: relative;
   opacity: 0.8;
 }
 
 .feature-wapper-inner .feature-wapper-info {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   display: table;
   margin: auto;
   width: 100%;
   color: #ffffff;
   text-align: center;
 }
 
 .feature-wapper-inner .feature-wapper-title {
   font-weight: bold;
   color: #ffffff;
   font-size: 3.3em;
 }
 
 .album-images {
   width: 100%;
   height: 500px;
 }
 
 .album-images .images-slider-for {
   width: 100%;
   height: 400px;
   overflow: hidden;
 }
 
 .album-images .images-slider-nav {
   width: 100%;
   height: 100px;
   padding: 10px 0;
   overflow: hidden;
 }
 
 .album-images .images-slider-for .image-item {
   width: 100%;
   height: 100%;
 }
 
 .album-images .images-slider-for img {
   width: 100%;
   height: 100%;
 }
 
 .box-booking {
   background: #8c6b4b;
   color: #ffffff;
 }
 
 .box-booking .form-title {
   font-size: 16px;
   letter-spacing: 1px;
   text-align: center;
   padding: 15px 15px 10px;
   border-bottom-width: 2px;
   border-bottom-style: solid;
   width: 100%;
 }
 
 .box-booking form .form-group {
   padding: 20px 30px 0;
   margin: 0;
 }
 
 .box-booking form {
   padding-bottom: 30px;
 }
 
 .box-booking form .form-control {
   border-radius: 0;
   font-size: 13px;
   height: 36px;
   padding-left: 12px;
 }
 
 .room-headeing {
   padding-bottom: 5px;
   margin-bottom: 25px;
   border: 0;
   border-bottom-width: 2px;
   border-style: solid;
   line-height: 20px;
 }
 
 .room-detail {
   padding-top: 30px;
   color: #000000;
 }
 
 .room-detail .room-title {
   font-weight: bold;
   font-size: 20px;
 }
 
 .room-detail .condition-item {
   width: 33.3333%;
   float: left;
   background-position: 0 4px;
   padding: 3px;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   font-weight: 700;
 }
 
 .room-price {
   font-style: italic;
   font-size: 1.5em;
   padding: 5px;
   color: #FF5A5F;
 }
 
 .condition-title {
   font-size: 2em;
   margin-bottom: 15px;
 }
 
 .condition-item .info {
   padding: 5px 10px;
   background: #ffffff;
   margin-top: 2px;
   margin-left: 2px;
   color: #888888;
   -webkit-box-shadow: 0 0 2px 0;
   -moz-box-shadow: 0 0 2px 0;
   -o-box-shadow: 0 0 2px 0;
   box-shadow: 0 0 2px 0;
 }
 
 .condition-item .item-value {
   font-style: italic;
   color: #A0856C;
 }
 
 .condition-item .info i {
   font-size: 1.1em;
   position: relative;
   top: 2px;
   margin-right: 15px;
 }
 /*************************/
 /*********CUSTOM**********/
 /*************************/
 
 .box.odd .service-item {
   -webkit-box-shadow: 0px 0px 1px 0px rgba(179, 177, 177, 0.62);
   -moz-box-shadow: 0px 0px 1px 0px rgba(179, 177, 177, 0.62);
   -o-box-shadow: 0px 0px 1px 0px rgba(179, 177, 177, 0.62);
   box-shadow: 0px 0px 1px 0px rgba(179, 177, 177, 0.62);
 }
 
 .box.odd .sc-item-title {
   border-bottom: 1px solid rgba(218, 218, 218, 0.34);
 }
 
 .col-datepicker {
   width: 24%;
   float: left;
 }
 
 .col-combobox {
   width: 12%;
   float: left;
 }
 
 .col-submit {
   width: 16%;
   float: left;
 }
 
 .location-top.location-item .location-thumbnail img {
   width: 100%;
   height: 344px;
 }
 
 .location-bottom.location-item .location-thumbnail img {
   width: 100%;
   height: 100%;
 }
 
 .album-image .flickr_badge_image {
   width: 75px;
   margin: 10px 10px 0px 0px;
   float: left;
 }
 
 .album-image img {
   width: 75px;
   margin: 5px 0 0;
   height: 75px;
 }
 
 .img-logo img {
   height: 95px;
 }
 
 .sh-menu {
   margin-top: 20px;
 }
 
 .service-inner {
   background: #ffffff;
   background-repeat: no-repeat;
   background-size: 100% 100%;
 }
 
 ul.service-list.list-unstyled {
   padding: 35px;
 }


.single-product .daterangepicker{
   max-width: 300px;
}

/***  
   Register
*/
.register-form {
  box-shadow: 0 0 10px 1px #fff;
  padding: 10px 15px;
  margin: 150px 0 50px;
  border-radius: 5px;
  background: #fff;
}
.register-form .btn i{
  color: #fff;
}
.error {
  border-color: #e20000;
}
.register-form label {
  display: block;
  font-size: 100%;
}